In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\pg21p\My ml projects\wootech IPL Saga\Raw_Data.csv')

In [3]:
df.info

<bound method DataFrame.info of      Unnamed: 0  Variable Tag  Is Captain(1=yes)  Is Wktkeeper(1=Yes)  \
0             0           1.0                0.0                  0.0
1             1           2.0                0.0                  0.0
2             2           3.0                0.0                  0.0
3             3           4.0                0.0                  0.0
4             4           5.0                0.0                  0.0
..          ...           ...                ...                  ...
124         124         125.0                0.0                  0.0
125         125         126.0                0.0                  0.0
126         126         127.0                0.0                  1.0
127         127         128.0                0.0                  0.0
128         128         129.0                1.0                  0.0

     Nationality(1=Overseas)               Name          Team  \
0                          1     Aiden Blizzard     Australia
1                          1   Jonathan Vandiar  South Africa
2                          1  Nathan Rimmington     Australia
3                          1      Rilee Rossouw  South Africa
4                          1    Robert Frylinck  South Africa
..                       ...                ...           ...
124                        0       Irfan Pathan         India
125                        0       Rohit Sharma         India
126                        0      Robin Uthappa         India
127                        0       Yusuf Pathan         India
128                        0     Gautam Gambhir         India

                 IPL 4 Franchise  Player cost USD  matches  ...  \
0                 Mumbai Indians          20000.0     40.0  ...
1    Royal Challengers Bangalore          20000.0     18.0  ...
2                Kings XI Punjab          20000.0     23.0  ...
3    Royal Challengers Bangalore          20000.0     20.0  ...
4               Delhi Daredevils          20000.0     25.0  ...
..                           ...              ...      ...  ...
124             Delhi Daredevils        1900000.0     83.0  ...
125               Mumbai Indians        2000000.0     97.0  ...
126                Pune Warriors        2100000.0     93.0  ...
127        Kolkata Knight Riders        2100000.0     90.0  ...
128        Kolkata Knight Riders        2400000.0     87.0  ...

     half_centuries_ipl  fours_ipl  sixes_ipl matches_bowl_ipl  \
0                   NaN        NaN        NaN              NaN
1                   NaN        NaN        NaN              NaN
2                   NaN        NaN        NaN              NaN
3                   NaN        NaN        NaN              NaN
4                   NaN        NaN        NaN              NaN
..                  ...        ...        ...              ...
124                 1.0       21.0       10.0             14.0
125                 0.0        3.0        1.0              6.0
126                 3.0       21.0       27.0              0.0
127                 2.0       22.0       24.0             11.0
128                 2.0       32.0        2.0              0.0

     balls_bowled_ipl  total_runs_given_ipl  wickets_taken_ipl  \
0                 NaN                   NaN                NaN
1                 NaN                   NaN                NaN
2                 NaN                   NaN                NaN
3                 NaN                   NaN                NaN
4                 NaN                   NaN                NaN
..                ...                   ...                ...
124             290.0                 414.0               17.0
125             126.0                 165.0                6.0
126               0.0                   0.0                0.0
127             214.0                 236.0                6.0
128               0.0                   0.0                0.0

     bowling_avg_ipl  economy_ipl  3wickets_ipl
0                NaN          NaN           NaN
1                NaN          NaN           NaN
2                NaN          NaN           NaN
3                NaN          NaN           NaN
4                NaN          NaN           NaN
..               ...          ...           ...
124        29.571429     9.026609           2.0
125        27.500000     7.795040           0.0
126              NaN          NaN           0.0
127        21.454545     6.479104           0.0
128              NaN          NaN           0.0

[129 rows x 58 columns]>

In [4]:
df.describe

<bound method NDFrame.describe of      Unnamed: 0  Variable Tag  Is Captain(1=yes)  Is Wktkeeper(1=Yes)  \
0             0           1.0                0.0                  0.0
1             1           2.0                0.0                  0.0
2             2           3.0                0.0                  0.0
3             3           4.0                0.0                  0.0
4             4           5.0                0.0                  0.0
..          ...           ...                ...                  ...
124         124         125.0                0.0                  0.0
125         125         126.0                0.0                  0.0
126         126         127.0                0.0                  1.0
127         127         128.0                0.0                  0.0
128         128         129.0                1.0                  0.0

     Nationality(1=Overseas)               Name          Team  \
0                          1     Aiden Blizzard     Australia
1                          1   Jonathan Vandiar  South Africa
2                          1  Nathan Rimmington     Australia
3                          1      Rilee Rossouw  South Africa
4                          1    Robert Frylinck  South Africa
..                       ...                ...           ...
124                        0       Irfan Pathan         India
125                        0       Rohit Sharma         India
126                        0      Robin Uthappa         India
127                        0       Yusuf Pathan         India
128                        0     Gautam Gambhir         India

                 IPL 4 Franchise  Player cost USD  matches  ...  \
0                 Mumbai Indians          20000.0     40.0  ...
1    Royal Challengers Bangalore          20000.0     18.0  ...
2                Kings XI Punjab          20000.0     23.0  ...
3    Royal Challengers Bangalore          20000.0     20.0  ...
4               Delhi Daredevils          20000.0     25.0  ...
..                           ...              ...      ...  ...
124             Delhi Daredevils        1900000.0     83.0  ...
125               Mumbai Indians        2000000.0     97.0  ...
126                Pune Warriors        2100000.0     93.0  ...
127        Kolkata Knight Riders        2100000.0     90.0  ...
128        Kolkata Knight Riders        2400000.0     87.0  ...

     half_centuries_ipl  fours_ipl  sixes_ipl matches_bowl_ipl  \
0                   NaN        NaN        NaN              NaN
1                   NaN        NaN        NaN              NaN
2                   NaN        NaN        NaN              NaN
3                   NaN        NaN        NaN              NaN
4                   NaN        NaN        NaN              NaN
..                  ...        ...        ...              ...
124                 1.0       21.0       10.0             14.0
125                 0.0        3.0        1.0              6.0
126                 3.0       21.0       27.0              0.0
127                 2.0       22.0       24.0             11.0
128                 2.0       32.0        2.0              0.0

     balls_bowled_ipl  total_runs_given_ipl  wickets_taken_ipl  \
0                 NaN                   NaN                NaN
1                 NaN                   NaN                NaN
2                 NaN                   NaN                NaN
3                 NaN                   NaN                NaN
4                 NaN                   NaN                NaN
..                ...                   ...                ...
124             290.0                 414.0               17.0
125             126.0                 165.0                6.0
126               0.0                   0.0                0.0
127             214.0                 236.0                6.0
128               0.0                   0.0                0.0

     bowling_avg_ipl  economy_ipl  3wickets_ipl
0                NaN          NaN           NaN
1                NaN          NaN           NaN
2                NaN          NaN           NaN
3                NaN          NaN           NaN
4                NaN          NaN           NaN
..               ...          ...           ...
124        29.571429     9.026609           2.0
125        27.500000     7.795040           0.0
126              NaN          NaN           0.0
127        21.454545     6.479104           0.0
128              NaN          NaN           0.0

[129 rows x 58 columns]>

In [5]:
df.isnull().sum()

Unnamed: 0                   0
Variable Tag                 0
Is Captain(1=yes)            0
Is Wktkeeper(1=Yes)          0
Nationality(1=Overseas)      0
Name                         0
Team                         0
IPL 4 Franchise              0
Player cost USD              0
matches                      0
innings played               0
no                           0
runs scored                  0
highest score                0
Is star batsman              0
Is batsman                   0
Batting avg                  0
Balls faced                  0
Strike rate                  0
100 runs made                0
50 runs made                 0
4s                           0
6s                           0
Catches per match            0
Catches taken                0
stumping made                0
Unnamed: 25                129
innings played.1             1
Is bowler?                   0
Number of balls bowled       1
runs given                   1
Is star bowler               1
wkts taken                   1
Best innings bowling         1
Bowling average              0
Bowling econ                 1
sr                           1
4w                           1
5w                           1
10 wicket hauls              1
Retained                     0
matches_bat_ipl             36
total_runs_scored_ipl       36
balls_faced_ipl             36
batting_avg_ipl             40
highest_score_ipl           36
strike_rate_ipl             40
centuries_ipl               36
half_centuries_ipl          36
fours_ipl                   36
sixes_ipl                   36
matches_bowl_ipl            36
balls_bowled_ipl            36
total_runs_given_ipl        36
wickets_taken_ipl           36
bowling_avg_ipl             67
economy_ipl                 67
3wickets_ipl                36
dtype: int64

In [6]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [7]:
df.columns

Index(['Variable Tag', 'Is Captain(1=yes)', 'Is Wktkeeper(1=Yes)',
       'Nationality(1=Overseas)', 'Name', 'Team', 'IPL 4 Franchise',
       'Player cost USD', 'matches', 'innings played', 'no', 'runs scored',
       'highest score', 'Is star batsman', 'Is batsman', 'Batting avg',
       'Balls faced', 'Strike rate', '100 runs made', '50 runs made', '4s',
       '6s', 'Catches per match', 'Catches taken', 'stumping made',
       'innings played.1', 'Is bowler?', 'Number of balls bowled',
       'runs given', 'Is star bowler', 'wkts taken', 'Best innings bowling',
       'Bowling average', 'Bowling econ', 'sr', '4w', '5w', '10 wicket hauls',
       'Retained', 'matches_bat_ipl', 'total_runs_scored_ipl',
       'balls_faced_ipl', 'batting_avg_ipl', 'highest_score_ipl',
       'strike_rate_ipl', 'centuries_ipl', 'half_centuries_ipl', 'fours_ipl',
       'sixes_ipl', 'matches_bowl_ipl', 'balls_bowled_ipl',
       'total_runs_given_ipl', 'wickets_taken_ipl', 'bowling_avg_ipl',
       'economy_ipl', '3wickets_ipl'],
      dtype='object')

In [8]:
df

,Variable Tag,Is Captain(1=yes),Is Wktkeeper(1=Yes),Nationality(1=Overseas),Name,Team,IPL 4 Franchise,Player cost USD,matches,innings played,...,half_centuries_ipl,fours_ipl,sixes_ipl,matches_bowl_ipl,balls_bowled_ipl,total_runs_given_ipl,wickets_taken_ipl,bowling_avg_ipl,economy_ipl,3wickets_ipl
0,1.0,0.0,0.0,1,Aiden Blizzard,Australia,Mumbai Indians,20000.0,40.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,0.0,0.0,1,Jonathan Vandiar,South Africa,Royal Challengers Bangalore,20000.0,18.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,0.0,0.0,1,Nathan Rimmington,Australia,Kings XI Punjab,20000.0,23.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,0.0,0.0,1,Rilee Rossouw,South Africa,Royal Challengers Bangalore,20000.0,20.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,0.0,0.0,1,Robert Frylinck,South Africa,Delhi Daredevils,20000.0,25.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,125.0,0.0,0.0,0,Irfan Pathan,India,Delhi Daredevils,1900000.0,83.0,67.0,...,1.0,21.0,10.0,14.0,290.0,414.0,17.0,29.571429,9.026609,2.0
125,126.0,0.0,0.0,0,Rohit Sharma,India,Mumbai Indians,2000000.0,97.0,91.0,...,0.0,3.0,1.0,6.0,126.0,165.0,6.0,27.500000,7.795040,0.0
126,127.0,0.0,1.0,0,Robin Uthappa,India,Pune Warriors,2100000.0,93.0,87.0,...,3.0,21.0,27.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
127,128.0,0.0,0.0,0,Yusuf Pathan,India,Kolkata Knight Riders,2100000.0,90.0,82.0,...,2.0,22.0,24.0,11.0,214.0,236.0,6.0,21.454545,6.479104,0.0
128,129.0,1.0,0.0,0,Gautam Gambhir,India,Kolkata Knight Riders,2400000.0,87.0,85.0,...,2.0,32.0,2.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0

In [9]:
df.drop(['10 wicket hauls','Best innings bowling','Variable Tag','innings played.1'],axis=1,inplace=True)

In [10]:
df.replace('-', np.nan, inplace=True)

In [11]:
df.fillna(0, inplace=True)

In [12]:
df.dtypes

Is Captain(1=yes)          float64
Is Wktkeeper(1=Yes)        float64
Nationality(1=Overseas)      int64
Name                        object
Team                        object
IPL 4 Franchise             object
Player cost USD            float64
matches                    float64
innings played             float64
no                         float64
runs scored                float64
highest score               object
Is star batsman            float64
Is batsman                 float64
Batting avg                float64
Balls faced                float64
Strike rate                float64
100 runs made              float64
50 runs made               float64
4s                         float64
6s                         float64
Catches per match          float64
Catches taken              float64
stumping made              float64
Is bowler?                 float64
Number of balls bowled      object
runs given                  object
Is star bowler             float64
wkts taken                  object
Bowling average            float64
Bowling econ                object
sr                          object
4w                          object
5w                          object
Retained                     int64
matches_bat_ipl            float64
total_runs_scored_ipl      float64
balls_faced_ipl            float64
batting_avg_ipl            float64
highest_score_ipl          float64
strike_rate_ipl            float64
centuries_ipl              float64
half_centuries_ipl         float64
fours_ipl                  float64
sixes_ipl                  float64
matches_bowl_ipl           float64
balls_bowled_ipl           float64
total_runs_given_ipl       float64
wickets_taken_ipl          float64
bowling_avg_ipl            float64
economy_ipl                float64
3wickets_ipl               float64
dtype: object

In [13]:
obj_dtype = ['Number of balls bowled', 'runs given', 'wkts taken', 'Bowling econ', 'sr', '4w', '5w']

In [14]:
df[obj_dtype] = df[obj_dtype].astype('float')

In [15]:
df.dtypes

Is Captain(1=yes)          float64
Is Wktkeeper(1=Yes)        float64
Nationality(1=Overseas)      int64
Name                        object
Team                        object
IPL 4 Franchise             object
Player cost USD            float64
matches                    float64
innings played             float64
no                         float64
runs scored                float64
highest score               object
Is star batsman            float64
Is batsman                 float64
Batting avg                float64
Balls faced                float64
Strike rate                float64
100 runs made              float64
50 runs made               float64
4s                         float64
6s                         float64
Catches per match          float64
Catches taken              float64
stumping made              float64
Is bowler?                 float64
Number of balls bowled     float64
runs given                 float64
Is star bowler             float64
wkts taken                 float64
Bowling average            float64
Bowling econ               float64
sr                         float64
4w                         float64
5w                         float64
Retained                     int64
matches_bat_ipl            float64
total_runs_scored_ipl      float64
balls_faced_ipl            float64
batting_avg_ipl            float64
highest_score_ipl          float64
strike_rate_ipl            float64
centuries_ipl              float64
half_centuries_ipl         float64
fours_ipl                  float64
sixes_ipl                  float64
matches_bowl_ipl           float64
balls_bowled_ipl           float64
total_runs_given_ipl       float64
wickets_taken_ipl          float64
bowling_avg_ipl            float64
economy_ipl                float64
3wickets_ipl               float64
dtype: object

In [16]:
df['highest score'] = [int(score.strip('*')) for score in df['highest score']]

In [17]:
df

,Is Captain(1=yes),Is Wktkeeper(1=Yes),Nationality(1=Overseas),Name,Team,IPL 4 Franchise,Player cost USD,matches,innings played,no,...,half_centuries_ipl,fours_ipl,sixes_ipl,matches_bowl_ipl,balls_bowled_ipl,total_runs_given_ipl,wickets_taken_ipl,bowling_avg_ipl,economy_ipl,3wickets_ipl
0,0.0,0.0,1,Aiden Blizzard,Australia,Mumbai Indians,20000.0,40.0,40.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
1,0.0,0.0,1,Jonathan Vandiar,South Africa,Royal Challengers Bangalore,20000.0,18.0,18.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2,0.0,0.0,1,Nathan Rimmington,Australia,Kings XI Punjab,20000.0,23.0,8.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
3,0.0,0.0,1,Rilee Rossouw,South Africa,Royal Challengers Bangalore,20000.0,20.0,20.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
4,0.0,0.0,1,Robert Frylinck,South Africa,Delhi Daredevils,20000.0,25.0,22.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,0.0,0.0,0,Irfan Pathan,India,Delhi Daredevils,1900000.0,83.0,67.0,23.0,...,1.0,21.0,10.0,14.0,290.0,414.0,17.0,29.571429,9.026609,2.0
125,0.0,0.0,0,Rohit Sharma,India,Mumbai Indians,2000000.0,97.0,91.0,18.0,...,0.0,3.0,1.0,6.0,126.0,165.0,6.0,27.500000,7.795040,0.0
126,0.0,1.0,0,Robin Uthappa,India,Pune Warriors,2100000.0,93.0,87.0,14.0,...,3.0,21.0,27.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
127,0.0,0.0,0,Yusuf Pathan,India,Kolkata Knight Riders,2100000.0,90.0,82.0,10.0,...,2.0,22.0,24.0,11.0,214.0,236.0,6.0,21.454545,6.479104,0.0
128,1.0,0.0,0,Gautam Gambhir,India,Kolkata Knight Riders,2400000.0,87.0,85.0,9.0,...,2.0,32.0,2.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0

In [18]:
df['highest score'].unique()

array([ 89,  71,  24,  65,  32,  58,  60,  48,  79,  51,  78,  96, 124,
        20,  30,   7,  84,  57,  90,  16,  80,  76,  85,  21,  68,  13,
        86,  35, 102,  74,  70, 106,  39,   2,  94,  34,  93,  49,  99,
        14,  95,  54,  31,  19,  28, 115,  10, 116,  47,   9, 158,  75,
        25, 105,  15,  27,  11,  18,  12,  45,  23, 107, 117,  22, 109,
       127,  33,  26,  67, 111, 141,  97, 101, 100, 110,  69,  73, 119],
      dtype=int64)

In [19]:
df.to_csv("Clean_Data.csv", index=False)